
.bg-navbar {
  background-color: #353d47;
  padding: .2em 1em;
}

.navbar-title {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.navbar-nav .nav-item {
  margin-left: 1.5rem;
}

.nav-link {
  color: #fff;
}
